
<head>
<style>
p {
    display: block;
    margin-top: 200px;
  
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 0;
  color: red;
}
</style>
</head>
<body>
<p >Upload Video</p>

<%= render 'form' %>

<%= link_to 'Back', localvdos_path %>




</body>

